footer {
    min-height: 100vh;
    padding-top: 80px;
    background-color: $darkHighlightColor;
    .credits {
        h2 {
            text-align: right;
            color: $primaryTextColor;
            font-size: 10rem;
        }
        li {
            font-family: $primaryFont;
            font-weight: 300;
            font-size: 4rem;
            margin: 80px 0px;
            color: $backgroundColor;
            a {
                font-weight: 500;
                color: $backgroundColor;
            }
        } 
    }
}