.landingPageContainer {
    padding: 65px 0px;
    text-align: center;
}

.landingPageAestheticElement {
    color: $darkHighlightColor;
    font-size: 3.7rem;
    position: relative;
}
.landingPageAestheticElement::after{
    content: "Nice to meet you!";
    position: absolute;
    left: 50%;
    bottom: -210%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s all ease;
}
.landingPageAestheticElement:hover::after {
    content: "Nice to meet you!";
    opacity: 1;
}

.landingPageHeading {
    font-size: 7.5rem;
    margin-top: 14vh;
    color: $darkHighlightColor;
}

.logoContainer {
    background-color: rgba($darkHighlightColor, 0.3);
    display: inline-block;
    max-width: 65%;
    padding: 0px 50px;
    margin: 5vh;
}

.landingPageDescription {
    display: inline-block;
    max-width: 30%;
    font-size: 4rem;
    color: $darkHighlightColor;
}

.landingPageNavButtons ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15vh;
    li {
        font-size: 2.8rem;
        button {
            padding: 5px 25px;
            color: $primaryTextColor;
        }
        .landingPageAbout {
            background-color: rgba($lightHighlightColor, 0.5);
        }
        .landingPageGo {
            background-color: rgba($darkHighlightColor, 0.5);
            position: relative;
        }
        .landingPageGo::after{
            display: inline-block;
            opacity: 0;
            width: 100%;
            content: "let's do it!";
            font-size: 2.5rem;
            position: absolute;
            left: 50%;
            bottom: 100%;
            transform: translate(-50%, -50%);
            transition: 0.5s all ease;
        }
        .landingPageGo:hover::after{
            content: "let's do it!";
            opacity: 1;
        }
        .landingPageLetters {
            background-color: rgba($primaryTextColor, 0.5);
        }
    }
}