@mixin japaneseAfter {
    left: 50%;
    bottom: 20%;
    font-size: 3.7rem;
    transform: translate(-50%, -50%);
    position: absolute;
}

@mixin japaneseDifferentPosition {
    bottom: 60%;
    font-size: 2.5rem;
}

@mixin optionHover {
    flex: 1 0 10%;
}

@mixin optionBiggerHover {
    flex: 1 0 45%;
}