html {
    font-size: 62.5%;
}

.wrapper {
    max-width: 1480px;
    width: 90%;
    margin: 0 auto;
}

h1, h4, p, a, button {
    font-family: $primaryFont;
    font-weight: 300;
    letter-spacing: 1.2px;
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-family: $secondaryFont;
    font-weight: 300;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background-color: $backgroundColor;
    min-height: 100vh;
}

main {
    background-color: $backgroundColor;
    min-height: 100vh;
}

img {
    width: 100%;
    display: block;
}

button {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: none;
}

.fatText {
    font-weight: 500;
}

.crossedOut {
    text-decoration: line-through;
}