// colors 
$backgroundColor: #EBEAEA; 
$primaryTextColor: #474350;
$lightHighlightColor: #B9CDDA; 
$darkHighlightColor: #979EB1; 

// fonts

$primaryFont: 'Raleway', sans-serif;
$secondaryFont: 'Merriweather', serif;